<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>리스트</title>
</head>
<body>
<div align="center">
    <% if(!login) {%>
        <a href = "/user/login">[로그인]</a>
    <% }else{%>
        <%=login%> 님 로그인 중 입니다
        <a href = "/board/write">[게시글 쓰기]</a> <br>
        <a href = "/user/logout">[로그 아웃]</a> <br>
    <% } %>

        <hr>

        <table border="1">
            <th>번호</th> <th>제목</th> <th>작성자</th> <th>작성일</th> <th>조회수</th>

            <%for(const row of records) { %>
            <tr>
                <td><%=row.id%></td>
                <td><a href = "/board/<%=row.id%>"><%=row.title%></a></td>
                <td><%=row.writer%></td>
                <td><%=row.regdate%></td>
                <td><%=row.read_cnt%></td>
            </tr>
            <%}%>
        </table>



</div>
</body>
</html>